@model Eshop.Application.Features.Products.Dtos.ProductDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="~/js/productCategories.js"></script>
    <script src="~/js/dropDownListCategories.js"></script>
}

<div>
    <h1>Детали продукта</h1>
    <ul>
        <li>Название: @Model.Title</li>
        <li>Подкатегория: @Model.ProductCategory.Name</li>
        <li>Стоимость: @Model.Price</li>
    </ul>
</div>

<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editModal">Редактировать</button>
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Удалить</button>
<div>
    <a class="btn btn-outline-dark mt-1" href="@Url.Action("Index", "Product")" role="button">
        Вернуться обратно
    </a>
</div>

<!--Edit modal-->
<div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="edit-modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editModalLabel">Форма для редактирования товара</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editForm" asp-action="Edit" method="post">
                    <div class="form-group">
                        <input asp-for="Id" type="hidden">
                    </div>

                    <div class="form-group">
                        <label>Название продукта</label>
                        <input type="text" class="form-control" name="Title" value="@Model.Title">
                        <span data-valmsg-for="Title" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>Категория товара</label>
                        <select name="ProductCategoryId" class="form-control" id="edit-category-list">
                            <option value="@Model.ProductCategoryId" selected="selected">@Model.ProductCategory.Name</option>
                        </select>
                        <span data-valmsg-for="ProductCategoryId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>Стоимость, ₽</label>
                        <input type="text" class="form-control" name="Price" value="@Model.Price.Trim('₽')">
                        <span data-valmsg-for="Price" class="text-danger"></span>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button id="saveChangesButton" type="submit" class="btn btn-primary mt-1">Сохранить изменения</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Delete modal-->
<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">Подтвердите свое действие</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="deleteForm" asp-action="Delete" method="post">
                    <div class="form-group">
                        <input asp-for="Id" type="hidden">
                    </div>
                    Вы уверены, что хотите <span class="fw-bold">удалить</span> товар?
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary mt-1">Удалить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>